<table class="table">
  <tr>
    <% @action.each do |act| %>
      <th scope="col"><%= act %></th>
    <% end %>
    <th>Count</th>
  </tr>
  <% @tracks.each do |values, count| %>
    <tr>
      <% values.each do |value| %>
        <td><%= value %></td>
      <% end %>
      <td><%= count %></td>
    </tr>
  <% end %>
</table>
