<h1>Jobs</h1>
<table class="table table-striped">
  <tr>
    <th scope="col">JID/ID</th>
    <th scope="col">Name</th>
    <th scope="col">Started At</th>
    <th scope="col">Completed?</th>
  </tr>
  <% @jobs.each do |job| %>
    <tr>
      <th scope="row"><%= link_to(job.jid || job.id, "/jobs/#{job.id}") %></th>
      <td><%= job.name %></td>
      <td><%= job.started_at %></td>
      <td><%= job.completed? ? ?✅ : ?❌ %></td>
    </tr>
  <% end %>
</table>