<div class="jumbotron">
  <h1 class="display-4">Insert the username whose information you'd like to see</h1>
  <hr class="my-4">
  <form>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username">
    </div>
    <button class="btn btn-primary" id="view-button">View</button>
  </form>
</div>

<%= javascript_include_tag 'home/index' %>